<section class="about">

  <section class="text">
    <h2>About me</h2>
    <p>I'm Nick Rutten, nickrttn on the web. I'm passionate about the web, and live on the crossroads between front-end, visual design and users.</p>
    <%# <p>Ik ben Nick Rutten, nickrttn op het web. Ik ben gepassioneerd over web, en dan vooral op de kruising tussen front-end, visueel design en gebruikers.</p>%>
    <p>I love to work with people who are just as driven and eager to learn.I have a work hard, play hard attitude. I try to learn as much as I can, and I feel that you can't ever stop learning as a ‘’. I love sharing my knowledge and passion with others.</p>
    <%# <p>Ik werk graag met mensen die net zo leergierig en gedreven zijn. Work hard, play hard. Ik leer zo veel mogelijk nieuwe dingen en ik vind dat je als ‘webpersoon’ nooit mag ophouden met leren. Dat gevoel deel ik graag met anderen.</p>%>
    <p>In practice, I pay attention to things like typographic harmony, readability, browser performance and accessible, beautiful code. I define breakpoints based on content instead of devices. I can work with most ways to define grids, but am most well versed with flexbox. I can design in Sketch or Illustrator, but I prefer to iterate in the browser above all. I can handle a NodeJS MEN stack. I do not believe in tools or frameworks as a end-all solution, but rather as a means to an end. Through this, I am framework and tool agnostic.</p>
    <%# <p>In de praktijk let ik op dingen als typografische harmonie, leesbaarheid, browser performance en voor iedereen toegankelijke, mooie code. Daarnaast definieer ik breakpoints op basis van content en niet het apparaat. Ik kan werken met de meeste methoden om grids te definiëren, en ben het sterkst in flexbox. Ik kan ook ontwerpen in Sketch of Illustrator, maar itereer het liefst in de browser. Ik kan ook overweg met NodeJS. Ik geloof niet in tools of frameworks als doel, maar als middel. Daardoor ben ik <em>tool-en-framework-agnostisch</em>.</p> %>
    <p>I excel in the right team, on location as well as remote. I believe in structured brainstorms where ‘no’ doesn't exist. I like to work Agile. Users are sacred to me, and are foremost in my mind during brainstorms, design and front-end. Besides that, I never forget I work for a client, and do not lose sight of their business' goals.</p>
    <%# <p>Ik excelleer in het juiste team, zowel op locatie als <span lang="en">remote</span>. Ik geloof in gestructureerde brainstormsessies waar ‘nee’ niet bestaat. Ik werk graag <span lang="en">Agile</span>. De gebruiker is mij heilig en bij zowel brainstormen als ontwerpen als front-end het eerste waar ik over nadenk. Daarnaast werk ik voor een cliënt, en verlies ik zijn zakelijke doelstellingen niet uit het oog.</p>%>
    <p><strong>I'm available for freelance front-end work from 1. March onwards.</strong></p>
    <%# <p><strong>Ik ben beschikbaar voor freelance werk vanaf 1 maart.</strong></p>%>
    <p>Als je iets wilt vragen, <a href="mailto:hello@nickrttn.me">mail</a> of <a href="https://twitter.com/nickrttn">tweet</a> me dan.</p>
    <p>If you have any questions or enquiries, <a href="mailto:hello@nickrttn.me">send me mail</a> or <a href="https://twitter.com/nickrttn">a private tweet</a>.</p>
  </section>

  <section class="mugshot">
    <figure>
      <img src="/images/nick.jpg" alt="This is a picture I am in.">
      <figcaption>This is me.</figcaption>
    </figure>
  </section>

</section>
