  <p>I use Piwik analytics to track visitors. This analytics package respects your DoNotTrack settings and will not track you if you have it enabled. I also anonymize IP addresses in stored data.</p>
  <script src="/javascripts/client.js"></script>
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDoNotTrack", true]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//piwik.nickrttn.me/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 1]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//piwik.nickrttn.me/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
</body>
</html>

<%# rgb(241, 123, 97)
rgb(5, 178, 208)

rgb(2, 81, 198)
rgb(92, 153, 196)

rgb(72, 212, 51)
rgb(87, 18, 87)

rgb(206, 107, 23)

rgb(117, 16, 44)%>
