  <script src="/javascripts/client.js"></script>
</body>
</html>

<%# rgb(241, 123, 97)
rgb(5, 178, 208)

rgb(2, 81, 198)
rgb(92, 153, 196)

rgb(72, 212, 51)
rgb(87, 18, 87)

rgb(206, 107, 23)

rgb(117, 16, 44)%>
