<!DOCTYPE html>
<html hreflang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <script src="https://use.typekit.net/iji2gjo.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <%- include header %>
