<header class="main-header">
  <div class="branding">
    <h1>Nick Rutten <span class="handle">@nickrttn</span></h1>
    <p>Web professional. Loves socks &amp; typography.</p>
  </div>

  <nav role="navigation">
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>

</header>
